// .swiper {
//   width: 100%;
// }

// .swiper-slide {
//   // border: 1px solid red;
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .swiper-slide {
//   display: grid;
// }

.swiper-content {
  background-color: #eeeeee;
  // height: 207px;
  // width: 400px;
  margin-bottom: 50px;
  text-align: start;
  padding: 40px 32px 40px 32px;
  border-right: 1px solid #afafaf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.swiper-hover-div img:hover {
  background-image: linear-gradient(
    to top,
    #007bff 0%,
    transparent 100%
  ); /* Gradiente azul de baixo para cima */
  color: white; /* Cor do texto para melhorar a visibilidade */
  font-size: 24px;
  filter: brightness(1.2);
}

.swiper-content h4 {
  color: #002e5f;
  font-size: 28px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 36.96px;
  word-wrap: break-word;
}

.swiper-content p {
  color: #999999;
  font-size: 21px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 29.4px;
  word-wrap: break-word;
  margin-top: -5px;
}

.swiper-content-icon span {
  color: #01518c;
  font-size: 21px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 29.4px;
  word-wrap: break-word;
}

.swiper-content-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.swiper-content img {
  width: 24px;
}

.splide__slide__container {
  display: flex;
  width: 100%;
  gap: 20px;
}
